/**
 * css main style file for all html files
 */

 .navbar-brand {
   color: #FFFFFF;
 }
/* navbar */
 .navbar-dark {
     background-color: #48D489;
}

/* Sign Up title on page */h1 {
     color: #48D489;
     display: inline-block;
}

 body {
     background-color:;
     color:;
     font-family:;
}
