.navbar-brand {
  color: #092557;
  font-family: PulpDisplay-SemiBold;
  font-size: xx-large;
  font-weight: normal;
}

#navbar-title {
  color: #092557;
  font-family: PulpDisplay-SemiBold;
  font-size: xx-large;
}

#navbar-home,
#navbar-login,
#navbar-signup {
  color: #092557;
}

#signup-prompt,
#login-prompt {
  font-family: PulpDisplay-SemiBold;
  color: #092557;
}

.close {
  margin: auto;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
